[Unit]
Description=Daily Random Frame Sync SQLite backup

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
